# get match values from @{$context->{values}}
# put classifictions on @{$context->{classes}}
[
{
    regex => '^(\d\d\d\d-\d\d-\d\d \d\d:\d\d:\d\d\.\d+) (\S+):\s(.*)',
    match => 'line',
    actions => [
        sub { my ($state) = @_;
            @{$state->{scratch}}{'timestamp','level','text'} = @{$state->{scratch}{values}};
        } 
    ]
},
{
    regex => '^(\d\d\d\d-\d\d-\d\d \d\d:\d\d:\d\d\.\d+) (\S+):\s(.*)',
    actions => [
        sub { my ($state) = @_;
            print "matches: @{$state->{scratch}{values}}.\n";
        } 
    ]
}
]
